@page
@model CommunitiesModel

<div id="map"></div>

@if (User.Identity?.IsAuthenticated ?? false)
{
	<table>
		<thead>
			<tr>
				<th>Community name</th>
				<th>URL name</th>
				<th>Nodes</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var community in Model.Communities)
			{
				<tr>
					<td><a asp-page="Community" asp-route-id="@community.Ref.Id">@community.Name</a></td>
					<td><a asp-page="Nodes" asp-route-community="@community.UrlName">@community.UrlName</a></td>
					<td>@Model.NodeCount.GetValueOrDefault(community.Ref)</td>
				</tr>
			}
			<tr>
				<td colspan="3"><a asp-page="Community" asp-route-id="0">Add new</a></td>
			</tr>
		</tbody>
	</table>
}
else
{
	<table>
		<thead>
			<tr>
				<th>Community</th>
				<th>Nodes</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var community in Model.Communities)
			{
				<tr>
					<td><a asp-page="Nodes" asp-route-community="@community.UrlName">@community.Name</a></td>
					<td>@Model.NodeCount.GetValueOrDefault(community.Ref)</td>
				</tr>
			}
		</tbody>
	</table>
}

<link rel="stylesheet" href="/leaflet/leaflet.css" />
<script src="/leaflet/leaflet.js"></script>

@section Scripts
{
	<script type="text/javascript">
		const map = initMap('map');
		const nodes = @Html.Raw(Model.Nodes);

		addNodes(map, nodes, L.divIcon({ className: 'map-node', iconSize: [3, 3] }));

		loadAreas();

		function loadAreas() {
			const areas = @Html.Raw(Model.Areas);
			let mapBounds = null;
			for (const area of areas) {
				if (mapBounds == null) mapBounds = L.latLngBounds(area.bounds);
				else mapBounds.extend(area.bounds);
				L.rectangle(area.bounds, { color: '#80c090', fill: '#c0e0d080', weight: 1 })
					.bindTooltip(area.name, { sticky: true })
					.on('click', function() { window.location = area.url; })
					.addTo(map);
			}
			if (mapBounds) map.fitBounds(mapBounds);
		}
	</script>
}